/* sizes */
#main-wrap > div { min-height: 150px; }


#header,
#footer {
    min-height: 40px;
}

/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#sidebar {
    float: left;
    width: 30%;
}

#content-wrap {
    float: right;
    width: 70%;
}   
.header_content {
  border: 3px  #123412;
}
.Exfooter {
    margin-bottom: 10px;    
    float: right;
    margin-right: 20%;
}