.col-12 {width: 100%;}

.roomBtn {
    border-radius: 25px;    
    color: black;
    background: #69BADA;
    border: 2px solid ;
    height: 45px;    
    font-size: 24px;    
    text-align: center;
    cursor: pointer;
  }
  .DeviceAvaBtn {
    border-radius: 25px;    
    color: black;
    background: #0CE61E;
    border: 2px solid ;
    height: 45px;    
    font-size: 24px;    
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  .DeviceNotAvaBtn {
    border-radius: 25px;    
    color: black;
    background: #E60C0C;
    border: 2px solid ;
    height: 45px;    
    font-size: 24px;    
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  @media only screen and (max-width: 400px) {
    .roomBtn, .DeviceAvaBtn, .DeviceNotAvaBtn {
      font-size: 20px;
    }
  }
  