.rank_content{
  margin-left: 280px;
}

@media only screen and (max-width: 768px) {
  [class*='col-'] {
    width: 98%;
  }
  .typebox {
    width: 92%;
  }
  .rank_content{
    margin-left: 0px;
  }

}
/* @media only screen and (max-width: 500px) {
   #loginButton {
    font-size: 12px;
    background-color: orange; 
  } 
} */
@media only screen and (max-width: 433px) {
  #rank_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 433px;
  }
}

#rank_wrapper {
  background-color: rgb(217, 221, 221);
}
.rank_button {
  position: relative;
  margin-left: 280px;
  margin-bottom: 20px;
}