.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 98%;
  }
  .typebox {
    width: 92%;
  }
}
/* @media only screen and (max-width: 500px) {
   #loginButton {
    font-size: 12px;
    background-color: red; 
  } 
} */
@media only screen and (max-width: 320px) {
  #wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
}

.sign_up_content {
	margin: auto;
	/*width: 60%;
	padding: 2em;*/
	text-align: center;
}

.header_content{
    border: 100px
}
table{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.Exfooter {
  top: 0%;
  margin-bottom: 10px; 
  margin-top: 1%;   
  float: right;
  margin-right: 20%;
}